<div class="error-message">
  <% if !!flash[:message] %>
    <%= flash[:message] %>
  <% end %>
</div>

<h2>Sign Up</h2>

<br>

<form class="signup-form" action="/signup" method="POST">
  <p><label for="username">Username:</label>
    <br>
    <input type="text" name="username" id="username">
  </p>

  <p><label for="email">Email:</label>
    <br>
    <input type="text" name="email" id="email">
  </p>

  <p><label for="myInput">Password:</label>
    <br>
    <input type="password" name="password" id="myInput">
    <input type="checkbox" onclick="myFunction()" id="show-pw"> show password
  </p>

  <input type="submit" value="Sign Up" id="submit">
</form>

<script type="text/javascript">
  function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
