<p class="index-pg">
  Goals Social!
  <br>
  Step Up to Your Goals!
</p>

<div class="index-button-container">
  <form action="/goals" method="GET">
    <button class="index-button" type="submit" id="enter-site">ENTER AND GET MOTIVATED</button>
  </form>
</div>
