<p class="index-pg">
  Goals Social!
  <br>
  Step Up to Your Goals!
</p>




<div class="index-button-container">
  <button class="index-button" type="submit" formaction="/goals" id="enter-site">ENTER AND GET MOTIVATED</button>
</div>
