<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Goals Social</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
        <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="/">
              Goals Social - Home
            </a>
          </li>

          <% if logged_in?(session)%>
            <li>
              <a href="/users">
                Your Goals
              </a>
            </li>
            <li>
              <a href="/users/<%=current_user.slug%>/logout">
                Logout
              </a>
            </li>
          <%else%>
            <li>
              <a href="/signup">
                Sign Up
              </a>
            </li>
            <li>
              <a href="/login">
                Log In
              </a>
            </li>
          <%end%>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->
    </div>

      <!-- Page Content -->
    <div class="page-content-container">
      <%=yield%>
    </div>
      <!-- /#page-content-wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
